# Exercise 1

## Exercise 1.1

write a code that prints the following pattern. Try to use as few loops as possible.

![image.png]()

Avoid using trivial solutions like:

print('X') 

print('X X')

print('X X X')

.....

print('X X X')

print('X X')

print('X')

## Exercise 1.2

Write a script that will sum all numbers in the following string. You can split each number into single digits, so for example, you can consider 45 to be 4 and 5

In [1]:
input_str = "n45as29@#8ss6"

## Exercise 1.3

Write a script that will convert an arbitrary integer to a binary number (the number will be represented as a string with only *0* and *1*). Avoid using the *bin()* function or any other pythons default functions

## Exercise 1.4 - The Fibonacci Sequence:

The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13. The next number in this series above is 8 + 13 = 21



Create a function that takes an integer as an input and returns a list that contains all Fibonacci numbers smaller than the input integer

example:

*print(fibonaci(10))*

[0, 1, 1, 2, 3, 5, 8]

In [ ]:
def fibonaci(upper_threshold: int) -> list:

  return []

## Exercise 1.5. -  Rock, Paper, Scissors game:

#### basic

Rock, Paper, Scissors is a well-known and simple game. If you do not know the rules, google them. Our task will be to write a code for this game when the user plays against a random computer. The code can be written into one function *rock_paper_scissors*.

Notes:
- This implementation uses the **random** library to enable the computer to make a random choice.
- Keyword **Input** may be useful, check it
- After the function is run, the program will ask you about your movement, which you type in
- The game is case-insensitive for user input (e.g., "rock", "Rock", and "ROCK" are all valid).
- This script plays one round of the game.
- The script prints the result ('You lose', 'You win', 'It is a tie')

In [2]:
def rock_paper_scissors() -> None:
    print('I am empty')

rock_paper_scissors()

I am empty

#### Advanced

Extend the Rock, Paper, Scissors game to be able to play *n* rounds. 

Notes: 
- The scrips will contain two counters, one for the current use score and one for the current computer score.
- After each run, the script prints the current scores and current round.
- When the number of rounds is reached, the script prints the result ('You lose', 'You win', 'It is a tie')

# Exercise 2

## Exercise 2.1

- Create a numpy array with shape 5x5, that contains numbers from 25..to 0
- create a function that takes an arbitrary numpy array as an input and sets all numbers smaller than the user-defined threshold to 0
- test your function on your array
- make one implementation using loops and one without using loops, compare execution time with **time** library

## Exercise 2.2 - Digi display

#### basic

The task will be to create a simulation of Digi display that will be able to display an arbitrary integer
   
*hint: to show an image use the library matplotlib.pyplot, also you may find function np.concatenate usefull*

In [ ]:
def show_in_digi(input_integer: int) -> None:
  pass

In [6]:
import matplotlib.pyplot as plt

show_in_digi(5289) will show:

![image.png]()

*hint2: you may find the following dict usefull*

In [26]:
numbs = {
      "1": np.array([[0, 1, 1], [1, 0, 1], [0, 0, 1], [0, 0, 1], [0, 0, 1]]), # 1
      "2": np.array([[1, 1, 1], [0, 0, 1], [1, 1, 1], [1, 0, 0], [1, 1, 1]]), # 2
      "3": np.array([[1, 1, 1], [0, 0, 1], [1, 1, 1], [0, 0, 1], [1, 1, 1]]), # 3
      "4": np.array([[1, 0, 1], [1, 0, 1], [1, 1, 1], [0, 0, 1], [0, 0, 1]]), # 4
      "5": np.array([[1, 1, 1], [1, 0, 0], [1, 1, 1], [0, 0, 1], [1, 1, 1]]), # 5
      "6": np.array([[1, 1, 1], [1, 0, 0], [1, 1, 1], [1, 0, 1], [1, 1, 1]]), # 6
      "7": np.array([[1, 1, 1], [0, 0, 1], [0, 0, 1], [0, 0, 1], [0, 0, 1]]), # 7
      "8": np.array([[1, 1, 1], [1, 0, 1], [1, 1, 1], [1, 0, 1], [1, 1, 1]]), # 8
      "9": np.array([[1, 1, 1], [1, 0, 1], [1, 1, 1], [0, 0, 1], [1, 1, 1]]), # 9
      "0": np.array([[1, 1, 1], [1, 0, 1], [1, 0, 1], [1, 0, 1], [1, 1, 1]]), # 0
  }

#### advanced

Extend your *show_in_digi* function to be able to display an arbitary float number

# Exercise 3 - Playing with California Housing Dataset

The purpose of this exercise is to learn basic operations of **pandas** library. Use *california_housing_dataset* you can find in google colab to do following operations:

- check what *dataset.describe()* does

- display all rows where *total_bedrooms* column is bigger than 310

- drop also first and last row

- save a mean of values in *households* columns to variable, using *matplotlib* display number of households in the graph (x-axis would be ID, y-axis - numbers of households) as dots with the same color, display also mean as a single line in the graph with different color as dots is

 - check if any of the columns contain NaN values, if yes, replace the NaN values with the arithmetic mean of the whole dataset

 - display *lat* and *long* into plot, *lat* would be on *x* axis and *long* on *y* axis

- choose two arbitrary columns and normalize all values inside using *min-max normalization*:

- Create a Correlation Matrix from all columns